body {
  font-family: "Noto Sans KR", sans-serif;
  padding: 60px;
  max-width: 680px;
  display: block;
}
.card {
  background-color: #fffdfb;
  border-style: solid;
}
.card-body {
  border-color: #a393eb;
  display: block;
  margin: 0 auto;
}

.btn-outline-primary {
  border-color: #a393eb;
  color: #a393eb;
  transition: all 200ms ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #a393eb;
  border-color: #a393eb;
  color: white;
}

.btn-outline-success {
  border-color: #5e63b6;
  color: #5e63b6;
  transition: all 200ms ease-in-out;
}

.btn-outline-success:hover {
  background-color: #5e63b6;
  border-color: #5e63b6;
  color: white;
}

.weather-app {
  margin: auto 12px;
  padding: 15px 12px 15px 45px;
  max-width: 750px;
}

.current-display {
  margin-left: 90px;
}

.current-display .active {
  color: darkgray;
  cursor: default;
  text-decoration: none;
}

.forecast-display {
  margin: 0 20px 30px 90px;
  color: #a393eb;
}

.forecast-date {
  color: #5e63b6;
}

h1 {
  font-weight: bold;
  margin-bottom: 7px;
  color: #a393eb;
}

p {
  margin: 0 auto;
  color: #5e63b6;
}
small {
  line-height: 1;
  color: #5e63b6;
}

#current-temp {
  font-size: 35px;
  font-weight: 500;
  color: #a393eb;
}

#temperature-units {
  position: relative;
  bottom: 40px;
  left: 5px;
  color: #a393eb;
  font-size: 18px;
}
#description {
  font-size: 12px;
}
#weather-icon {
  font-size: 90px;
}

#current-temp {
  font-size: 80px;
}
