body {
  font-family: "Noto Sans KR", sans-serif;
  padding: 60px;
  max-width: 850px;
}

.weather-app {
  margin: 12px auto;
  padding: 20px;
  border: thin;
  max-width: 750px;
}
.current-display {
  margin-left: 10px;
}
.upcoming-display {
  margin: 10px;
  padding: 15px;
}
h1,
h2 {
  font-weight: bold;
  margin-bottom: 7px;
}
h1,
h2,
p {
  margin: 0 auto;
  color: darkgray;
}
small {
  line-height: 1;
}
#description {
  font-size: 12px;
}
#weather-icon {
  font-size: 80px;
  margin: 15px 0;
}
.rain-icon {
  color: lightskyblue;
}

.sun-icon2 {
  color: yellow;
}

.cloud-icon {
  color: gray;
}

.storm-icon {
  color: darkgray;
}
.weather-icons {
  margin: 5px;
}
.list-group-item {
  color: darkgray;
  font-weight: lighter;
}
